[submodule "submodules/android"]
	path = submodules/android
	url = https://github.com/nasa/astrobee_android.git
[submodule "submodules/avionics"]
	path = submodules/avionics
	url = ssh://git@babelfish.arc.nasa.gov:7999/astrobee/astrobee_avionics.git
[submodule "submodules/platform"]
	path = submodules/platform
	url = ssh://git@babelfish.arc.nasa.gov:7999/astrobee/astrobee_platform.git
[submodule "description/media"]
	path = description/media
	url = https://github.com/nasa/astrobee_media.git
	shallow = true
[submodule "mrs-gds-display"]
	path = mrs-gds-display
	url = ssh://git@bitbucket.csiro.au:7999/zb/mrs_gds_display.git
[submodule "submodules/mrs-gds-display"]
	path = submodules/mrs-gds-display
	url = git@github.com:davehaddon/mrs-gds-display.git
[submodule "astrobee/plans/fplan_builder"]
	path = astrobee/plans/fplan_builder
	url = ssh://git@bitbucket.csiro.au:7999/zb/fplan_builder.git
